<h1>New Channel</h1>

<<<<<<< HEAD
<% if current_user.is_admin %>

<%= render 'form' %>



<%= link_to 'Back', channels_path %>

<% end %>
=======
<%= render 'form' %>

<%= link_to 'Back', channels_path %>
>>>>>>> db754f1daea8bb25d8a149c65640efbc484cb827
